/* ==========================================================================
   Chun's modification
   ========================================================================== */

.dl-ad {
	max-width: 280px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	@media #{$small} {
		position: fixed;
		max-width: 280px;
	}
	@media #{$medium} {
		position: fixed;
		max-width: 280px;
	}
	@media #{$large} {
		max-width: 350px;
		position: fixed;
	}
}

.pay {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: darkgray;

	img {
		max-width: 280px;
		max-height: 380px;
	}
}
