/*
    You can add your own custom styles here.
*/

@font-face {
    font-family: 'SourceSansPro';
    src: url(/fonts/SourceSansPro-SemiBold.otf) format('opentype');
}

body {
    font-family: 'SourceSansPro', sans-serif;
}
